<a href="https://colab.research.google.com/github/erodg35/coding_corner/blob/master/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#create a list of letters from the alphabet
alphabet = ['a','b','c','d','e']

#loop through each letter of the alphabet
for ### in ####:
  #if the letter is 'c', skip. Print everything else
  if ### == 'c':
    continue
  print(###)

a
b
d
e

In [14]:
#create an empty list
numbers = []

#set your number
num = ##

#loop through each number, count down from 10
while num ## 0:
  print(num)
  
  #once you reach the end, print 'Blast Off!'
  #######:
    print('Blast off!')
  
  num ## 1
  
  numbers.append(num)
  
print(numbers)

10
9
8
7
6
5
4
3
2
1
0
Blast off!
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

In [0]:
#What else can we do with a loop?

In [25]:
print("Where do you want to go?")
location = input("Choose: Moon or China")

Where do you want to go?
Choose: Moon or ChinaMoon

In [27]:
num = 20

if location == "China":
  print("Everyone board the Oriental Express!")
  while num > 0:
    print(num)
    num -= 1
    if num == 0:
      print("The train is departing now!")
elif location == "Moon":
  print('Maybe you should work for SpaceX')

Maybe you should work for SpaceX

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame([numbers])

In [33]:
df

   0   1   2   3   4   5   6   7   8   9   10
0   9   8   7   6   5   4   3   2   1   0  -1